@charset "utf-8";

body {
    margin: 0;
    padding: 0;
    background-color: #333333;
}
.container {
    width: 980px;
    margin: 0 auto;
    background-color: white;
    border:1px solid red;
    overflow: hidden;
}
.left {
    float: left;
    width: 200px;
    border: 1px solid red;
    box-sizing: border-box;
    padding-bottom: 10020px;
    margin-bottom: -10000px;
}
.content {
    box-sizing: border-box;
    float: left;
    width: 580px;
    padding-left: 20px;
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
    padding-bottom: 10020px;
    margin-bottom: -10000px;
}
.clear {
    clear: both;
}