@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,400i,700,700i,900&subset=cyrillic');

body {
    font-family: Roboto, sans-serif;
}
:root {
    --light-gray: #C4C4C4;
    --dark-gray: #474747;
}

figure {
    margin: 0;
}
figure img {
    width: 100%;
}
.light-gray {
    background-color: var(--light-gray);
}
.dark-gray {
    background-color: var(--dark-gray);
}
.main-header {
    height: auto;
}
@media screen and (min-width: 768px) {
    .main-header {
        height: 222px;
    }
}
.slogan {
    font-weight: 900;
    text-align: center;
    font-size: 1.6em;
    text-transform: uppercase;
    margin: 1em 0;
}
@media screen and (min-width: 380px) {
    .slogan {
        font-size: 2em;
    }
/*end media*/}