@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,400i,700,700i,900&subset=cyrillic');

body {
    font-family: Roboto, sans-serif;
}

.custom-label {
    font-size: 1.3em;
    color: #9a27ff;
    cursor: pointer;
    line-height: 1.6em;
    font-weight: 300;
    padding-left: 35px;
    background-image: url("../img/chek.png");
    background-repeat: no-repeat;
    background-position: 0 0;
    transition: background-position 0.1s;
}
input[type="checkbox"] {
display: none;
}
input[type="checkbox"]:checked + .custom-label {
    background-position: 0 -25px;
    transition: background-position 0.5s;
}